---
import Layout from '../layouts/Layout.astro'
import Header from "../components/Header.astro";
const path = import.meta.env.PUBLIC_URL;
---

<Layout background="green">
    <section class="hero">
        <Header></Header>
        <div class="hero__capture">
            <h1 class="hero__title">Appliances <br> for everyday joy</h1>
            <p class="hero__info">Some great words why people should love and by Collezioni products with no
                questions</p>
            <a class="button button--pink hero__button" href=`${path}products`>Check our products</a>
            <img src=`${path}assets/img/hero.png` width="288" height="436" class="hero__image" alt="Collezioni">
        </div>
        <p class="hero__text">
            At Collezioni, we are committed to enhancing the value and enjoyment of home cooking with our range of specialty kitchen appliances. Through rigorous customer research, each design is tailored to meet the needs and exceed the expectations of culinary enthusiasts.
        </p>
    </section>

    <section class="topPicks">
        <h3 class="topPicks__title">Our top picks</h3>
        <div class="topPicks__container">
            <a href=`${path}products/CZ-SM120` class="topPicks__item topPicks__item--pink">
                <h4>Stand Mixer</h4>
                <div class="topPicks__wrapper"></div>
                <img src=`${path}assets/img/pick1.png` alt=""/>
            </a>
            <a href=`${path}products/CZ-WM776` class="topPicks__item topPicks__item--blue">
                <h4>Rotary Waffle Maker</h4>
                <div class="topPicks__wrapper"></div>
                <img src=`${path}assets/img/pick2.png` alt=""/>
            </a>
            <a href=`${path}products/CZ-PC240` class="topPicks__item topPicks__item--green">
                <h4>Popcorn Maker</h4>
                <div class="topPicks__wrapper"></div>
                <img src=`${path}assets/img/pick3.png` alt=""/>
            </a>
            <a href=`${path}products/CZ-BL023` class="topPicks__item topPicks__item--yellow">
                <h4>USB Portable Blender</h4>
                <div class="topPicks__wrapper"></div>
                <img src=`${path}assets/img/pick4.png` alt=""/>
            </a>
            <div class="topPicks__info">
                <div>
                    <h4>We have so many cool things here!</h4>
                    <p>This is an opportunity for everyone to create their own unique and highly individual
                        lifestyle.</p>
                </div>
                <a href=`${path}products` class="button button--white">See All Products</a>
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <div class="about__container">
            <h3 class="about__title">Why Collezioni</h3>
            <div class="about__info">
                <h3>Colleczioni is</h3>
                <p>Our dedication to quality is evident at every stage of development, ensuring superior performance and customer satisfaction. We work closely with our manufacturing partners to maintain defect rates well below industry standards, guaranteeing reliability and longevity in all our products.

                </p>
            </div>
        </div>
    </section>

    <div class="reviews">
        <h3 class="reviews__title">Check our reviews</h3>
        <div class="reviews__container">
            <div class="slider-container">
                <div class="swiper swiper1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <p>
                                Perfect Popcorn Every Time: I bought the Collezioni popcorn maker for family movie nights, and it's perfect! It pops every kernel without burning, and cleanup is so easy. Popcorn tastes much better than movie theater popcorn. Absolutely recommend this for any popcorn lover!
                            </p>
                            <span>Sarah B.</span>
                        </div>

                        <div class="swiper-slide">
                            <p>
                                Delightful Milk Frother: The Collezioni milk frother is excellent for creating café-quality drinks at home. It's quick, quiet, and froths milk to a creamy perfection for my morning coffee or hot chocolate. This small tool makes a big difference in my daily routine!
                            </p>
                            <span>Dina C.</span>
                        </div>

                        <div class="swiper-slide">
                            <p>
                                Convenient Cotton Candy Machine: I never thought making cotton candy at home could be so easy until I tried the Collezioni cotton candy machine. It’s perfect for parties and the kids love watching it spin sugar into candy. Easy to use and fun for everyone!
                            </p>
                            <span>Alex F.</span>
                        </div>

                        <div class="swiper-slide">
                            <p>
                                Incredible Air Fryer: I'm absolutely loving my new Collezioni air fryer! It cooks everything so quickly and evenly—I've been able to fry, bake, and grill with barely any oil, and everything turns out perfectly crispy yet stays juicy inside. Cleanup is a breeze too, which is such a relief. This air fryer has quickly become my go-to appliance in the kitchen!
                            </p>
                            <span>Jennifer C.</span>
                        </div>

                        <div class="swiper-slide">
                            <p>
                                The Collezioni hot-dog toaster has streamlined my snack routine! It crisps buns and cooks hot dogs in one go, making it a quick and efficient choice for a satisfying meal.
                            </p>
                            <span>Kyle B.</span>
                        </div>

                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="button-prev prev1">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="30" viewBox="0 0 36 30" fill="none">
                    <path d="M35.4142 16.4142C36.1953 15.6332 36.1953 14.3668 35.4142 13.5858L22.6863 0.857864C21.9052 0.0768156 20.6389 0.0768156 19.8579 0.857864C19.0768 1.63891 19.0768 2.90524 19.8579 3.68629L31.1716 15L19.8579 26.3137C19.0768 27.0948 19.0768 28.3611 19.8579 29.1421C20.6389 29.9232 21.9052 29.9232 22.6863 29.1421L35.4142 16.4142ZM2 13C0.895432 13 0 13.8954 0 15C0 16.1046 0.895432 17 2 17V13ZM34 13L2 13V17L34 17V13Z"
                          fill="white"/>
                </svg>
            </div>
            <div class="button-next next1">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="30" viewBox="0 0 36 30" fill="none">
                    <path d="M35.4142 16.4142C36.1953 15.6332 36.1953 14.3668 35.4142 13.5858L22.6863 0.857864C21.9052 0.0768156 20.6389 0.0768156 19.8579 0.857864C19.0768 1.63891 19.0768 2.90524 19.8579 3.68629L31.1716 15L19.8579 26.3137C19.0768 27.0948 19.0768 28.3611 19.8579 29.1421C20.6389 29.9232 21.9052 29.9232 22.6863 29.1421L35.4142 16.4142ZM2 13C0.895432 13 0 13.8954 0 15C0 16.1046 0.895432 17 2 17V13ZM34 13L2 13V17L34 17V13Z"
                          fill="white"/>
                </svg>
            </div>
        </div>
    </div>

    <section class="newInLine">
        <h3 class="newInLine__title">New in line</h3>
        <div class="newInLine__container">
            <a href=`${path}products/CZ-BL023` class="newInLine__item newInLine__item--yellow">
                <div>
                    <h4>Portable Blender USB</h4>
                    <p>Mixing elegance with utility, our Stand Mixer goes beyond comfort to elevate your kitchen experience!</p>

                </div>
                <div class="newInLine__wrapper"></div>
                <img src=`${path}assets/img/pick4.png` alt=""/>
            </a>
            <a href=`${path}products/CZ-SM120` class="newInLine__item newInLine__item--pink">
                <div>
                    <h4>Stand Mixer</h4>
                    <p>Perfect breakfasts with our easy-to-use, space-saving Rotary Waffle Maker!</p>
                </div>
                <div class="newInLine__wrapper"></div>
                <img src=`${path}assets/img/pick1.png` alt=""/>
            </a>
            <a href=`${path}products/CZ-WM776` class="newInLine__item newInLine__item--blue">
                <div>
                    <h4>Rotary Waffle Maker</h4>
                    <p>Effortlessly mix with our elegant and compact Stand Mixer!
                    </p>
                </div>
                <div class="newInLine__wrapper"></div>
                <img src=`${path}assets/img/pick2.png` alt=""/>
            </a>
        </div>
        <a href=`${path}products` class="button button--yellow newInLine__button">Check out products</a>
    </section>

    <section class="contact" id="contact">
        <div class="contact__container">
            <h3 class="contact__title">Contact us</h3>
            <div class="contact__list">
                <a href="mailto:info@cemglobal.com" class="contact__item">
                    <span>Email</span>
                    <span>info@cemglobal.com</span>
                </a>
                <a class="contact__item">
                    <h4>News</h4>
                </a>
                <a href=`${path}warranty` class="contact__item">
                    <h4>Warranty Info</h4>
                </a>
            </div>
        </div>
    </section>

</Layout>