---
const path = import.meta.env.PUBLIC_URL;
---

<div class="header__partners">
    <span class="header__companies">Our Company</span>
    <ul class="header__partners-list">
        <li class="header__partners-item">
            <a href="https://cemglobal.com/">
                <span>CE</span>
                <img src=`${path}assets/partners/logo-cemglobal.png` width="136" height="51" alt="">
            </a>
        </li>
        <!--            <li class="header__partners-item">-->
        <!--                <a href="https://cemglobaelx.com/">-->
        <!--                    <span>Electrolux</span>-->
        <!--                    <img src=`${path}assets/partners/logo-electolux.png` width="136" height="51" alt="">-->
        <!--                </a>-->
        <!--            </li>-->
        <li class="header__partners-item">
            <a href="https://cemglobalfw.com/">
                <span>Farberware</span>
                <img src=`${path}assets/partners/logo-farberware.png` width="136" height="51" alt="">
            </a>
        </li>
        <li class="header__partners-item">
            <a href="https://continental.one/">
                <span>Continental</span>
                <img src=`${path}assets/partners/logo-continental.png` width="136" height="51" alt="">
            </a>
        </li>
        <li class="header__partners-item header__partners-item--current">
            <a href="#">
                <span>Collezioni</span>
                <img src=`${path}assets/partners/logo-collezioni.png` width="136" height="51" alt="">
            </a>
        </li>
        <li class="header__partners-item">
            <a href="https://proseries.one/">
                <span>Professional Series</span>
                <img src=`${path}assets/partners/logo-pro-series.png` width="136" height="51" alt="">
            </a>
        </li>
        <li class="header__partners-item">
            <a href="#https://ceconsumer.com/">
                <span>Consumer Electronics</span>
                <img src=`${path}assets/partners/logo-consumer.png` width="136" height="51" alt="">
            </a>
        </li>
        <li class="header__partners-item">
            <a href="https://americanoutdoors.life/">
                <span>American Outdoors</span>
                <img src=`${path}assets/partners/logo-american-outdoors.png` width="136" height="51" alt="">
            </a>
        </li>
        <li class="header__partners-item">
            <a href="https://gymmaster.fitness/">
                <span>Gym Master</span>
                <img src=`${path}assets/partners/logo-gym-master.png` width="136" height="51" alt="">
            </a>
        </li>
    </ul>
</div>